.custom-card-1 {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;

  &-body {
    padding: 2rem;
  }

  .title {
    font-size: 2rem;
    color: $color-primary;
    text-align: left;
    padding: 1rem;
    margin: 1rem 1rem 0;

    &--bottom {
      height: 0.5rem;
      width: 3rem;
      background-color: $color-light-blue;
    }
  }

  .btn {
    margin: 0.5rem;
  }
}

.custom-card-2 {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  height: min-content;
  background-color: $color-background-primary-lighter;

  &-body {
    padding: 2rem;
  }

  .title {
    font-size: 2rem;
    color: $color-primary;
    text-align: left;
    padding: 1rem;
    margin: 1rem 1rem 0;
    text-transform: uppercase;

    &--bottom {
      height: 0.5rem;
      width: 3rem;
      background-color: $color-light-blue;
    }
  }

  .field-label {
    background-color: $color-background-primary-lighter;
    text-transform: capitalize;
    border: none;
  }

  .btn {
    margin: 0.5rem;
  }
}

.custom-card-3 {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  height: min-content;

  max-width: fit-content;

  &-body {
    padding: 2rem;
  }

  .title {
    font-size: 2rem;
    color: $color-primary;
    text-align: center;
    padding: 1rem;
    margin: 1rem 1rem 0;

    &--bottom {
      height: 0.5rem;
      width: 3rem;
      background-color: $color-light-blue;
    }
  }

  .card-body {
    text-align: center;
  }

  .btn {
    margin: 0.5rem;
  }
}
